# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science.
- List commonly used libraries used by Data Scientists.
- Evaluate arithmetic expressions in Python.
- List Open Source Data Science Tools

---

Some of the popular languages that Data Scientists use are:

---

1. Python
2. R
3. Julia
4. Scala

---
Some of the commonly used libraries used by Data Scientists include:

---

1. Pandas

2. SciPy

3. NumPy

| Data Science Tools   |
|:---------------------|
|Jupyter Labs          |
|RStudio               |
|Apache Spark          |

### Below are a few examples of evaluating arithmetic expressions in Python.

A + B = C

A * B = D

(A+C)-(A/D) = F

In [7]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60.

minutes = 200

hours = minutes/60

print(hours)

3.3333333333333335

## Author:

Lucas Iacono